<div class="container container-fluid">
    <div class="col-md-6">
        <label for="email" class="control-label">Email</label>
        <input id="email" class="form-control content" type="email"/>
        <label for="password" class="control-label">Password</label>
        <input id="password" class="form-control content" type="password"/>
        <br/>
        <button id="save" class="btn btn-success">Save</button>
    </div>
</div>