<ul class="nav navbar-nav">
    <li><a href="#home"><span class="fa fa-home"></span> Home</a></li>
    <li><a href="#about"><span class="fa fa-info"></span> About</a></li>
</ul>
<form class="navbar-form navbar-left" role="search">
    <a type="submit" href="#create" class="btn btn-success"><span class="fa fa-plus-circle"></span> Add</a>
</form>