
<div class="container container-fluid">
  <div class="col-md-6">
    <label for="first_name" class="control-label">First Name</label>
    <input id="first_name" class="form-control content" type="text"/>
    <label for="last_name" class="control-label">Last Name</label>
    <input id="last_name" class="form-control content" type="text"/>
    <label for="email" class="control-label">Email</label>
    <input id="email" class="form-control content" type="email"/>
    <label for="twitter_handle" class="control-label">Twitter</label>
    <input id="twitter_handle" class="form-control content" type="text"/>
    <label for="avatar" class="control-label">Avatar</label>
    <input id="avatar" class="form-control content" type="text"/>
    <label for="homebase" class="control-label">Homebase</label>
    <input id="homebase" class="form-control content" type="text"/>
    <label for="profession" class="control-label">Profession</label>
    <input id="profession" class="form-control content" type="text"/>
    <label for="passions" class="control-label">Passions</label>
    <input id="passions" class="form-control content" type="text"/>
    <label for="skills" class="control-label">Skills</label>
    <input id="skills" class="form-control content" type="Software"/>
    <label for="current_location" class="control-label">Current Location</label>
    <input id="current_location" class="form-control content" type="text"/>
    <label for="blurb" class="control-label">BIO</label>
    <input id="blurb" class="form-control content" type="text"/>
    <button id="save" class="btn btn-success">Save</button>
  </div>
</div>
