<form class="navbar-form navbar-left" role="search">
    <a href="#create" class="btn btn-success"><span class="fa fa-plus-circle"></span> Add</a>
    <a href="#signIn" class="btn btn-success"><span class="fa fa-sign-in"></span> Sign In</a>
</form>
